<h1>packs</h1>

<%= link_to "back", root_path %>

<h2><%= @pack.title %></h2>

<table>
  <tr>
    <th>songs</th>
    <th>stepartists</th>
    <th>minmax lvl (target)</th>
    <th>minmax lvl (total)</th>
    <th>BPM</th>
    <th>difficulties</th>
    <th>type</th>
    <th>format</th>
    <th>groovestats ranked</th>
    <th>download</th>
  </tr>
  <tr>
    <td><%= @pack.song_amount %></td>
    <td><%= @pack.stepartists %></td>
    <td><%= @pack.minlvl_target %>-<%= @pack.maxlvl_target %></td>
    <td><%= @pack.minlvl_total %>-<%= @pack.maxlvl_total %></td>
    <td><%= @pack.bpm_min %>-<%= @pack.bpm_max %></td>
    <td><%= @pack.difficulties_min %><% if @pack.difficulties_max %>-<%= @pack.difficulties_max %><% end %></td>
    <td><%= @pack.play_type %></td>
    <td><%= @pack.play_format %></td>
    <td><%= @pack.ranked %></td>
    <td><%= link_to 'download', @pack.download_link %>
  </tr>
</table>

<%= link_to "edit pack", edit_pack_path(@pack) %>

<%= link_to "delete pack", pack_path(@pack), data: { turbo_method: :delete, turbo_confirm: "are you sure?" } %>

<h3>songs</h3>

<table>
  <tr>
    <th>title</th>
    <th>artist</th>
    <th>bpm</th>
    <th>length</th>
    <th>stepartist</th>
    <% unless @pack.play_format == 1 %>
      <th>SN</th>
      <th>SE</th>
      <th>SM</th>
      <th>SH</th>
      <th>SX</th>
      <th>SEdit</th>
    <% end %>
    <% unless @pack.play_format == 0 %>
      <th>DN</th>
      <th>DE</th>
      <th>DM</th>
      <th>DH</th>
      <th>DX</th>
      <th>DEdit</th>
    <% end %>
  </tr>
  <% @pack.songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><%= song.bpm %></td>
      <td><%= song.length %></td>
      <td><%= song.stepartist %></td>
      <% unless @pack.play_format == 1 %>
        <td><%= song.single_novice %></td>
        <td><%= song.single_easy %></td>
        <td><%= song.single_medium %></td>
        <td><%= song.single_hard %></td>
        <td><%= song.single_expert %></td>
        <td><%= song.single_edit %></td>
      <% end %>
      <% unless @pack.play_format == 0 %>
        <td><%= song.double_novice %></td>
        <td><%= song.double_easy %></td>
        <td><%= song.double_medium %></td>
        <td><%= song.double_hard %></td>
        <td><%= song.double_expert %></td>
        <td><%= song.double_edit %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>add song data</h4>
<%= form_with model: [ @pack, @pack.songs.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :artist %><br>
    <%= form.text_field :artist %>
  </div>

  <div>
    <%= form.label :bpm %><br>
    <%= form.number_field :bpm %>
  </div>

  <div>
    <%= form.label :length %><br>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.label :stepartist %><br>
    <%= form.text_field :stepartist %>
  </div>

  <div>
    <%= form.label :single_novice %><br>
    <%= form.number_field :single_novice %>
  </div>

  <div>
    <%= form.label :single_easy %><br>
    <%= form.number_field :single_easy %>
  </div>

  <div>
    <%= form.label :single_medium %><br>
    <%= form.number_field :single_medium %>
  </div>

  <div>
    <%= form.label :single_hard %><br>
    <%= form.number_field :single_hard %>
  </div>

  <div>
    <%= form.label :single_expert %><br>
    <%= form.number_field :single_expert %>
  </div>

  <div>
    <%= form.label :single_edit %><br>
    <%= form.number_field :single_edit %>
  </div>

  <div>
    <%= form.label :double_novice %><br>
    <%= form.number_field :double_novice %>
  </div>

  <div>
    <%= form.label :double_easy %><br>
    <%= form.number_field :double_easy %>
  </div>

  <div>
    <%= form.label :double_medium %><br>
    <%= form.number_field :double_medium %>
  </div>

  <div>
    <%= form.label :double_hard %><br>
    <%= form.number_field :double_hard %>
  </div>

  <div>
    <%= form.label :double_expert %><br>
    <%= form.number_field :double_expert %>
  </div>

  <div>
    <%= form.label :double_edit %><br>
    <%= form.number_field :double_edit %>
  </div>

  <div><%= form.submit %></div>
<% end %>
