<h1>packs</h1>

<%= link_to "back", root_path %>

<h2><%= @pack.title %></h2>

<table>
  <tr>
    <th>songs</th>
    <th>stepartists</th>
    <th>minmax lvl (target)</th>
    <th>minmax lvl (total)</th>
    <th>BPM</th>
    <th>difficulties</th>
    <th>type</th>
    <th>format</th>
    <th>groovestats ranked</th>
    <th>download</th>
  </tr>
  <tr>
    <td><%= @pack.songs %></td>
    <td><%= @pack.stepartists %></td>
    <td><%= @pack.minlvl_target %>-<%= @pack.maxlvl_target %></td>
    <td><%= @pack.minlvl_total %>-<%= @pack.maxlvl_total %></td>
    <td><%= @pack.bpm_min %>-<%= @pack.bpm_max %></td>
    <td><%= @pack.difficulties_min %><% if @pack.difficulties_max %>-<%= @pack.difficulties_max %><% end %></td>
    <td><%= @pack.play_type %></td>
    <td><%= @pack.play_format %></td>
    <td><%= @pack.ranked %></td>
    <td><%= link_to 'download', @pack.download_link %>
  </tr>
</table>

<%= link_to "edit pack", edit_pack_path(@pack) %>

<%= link_to "delete pack", pack_path(@pack), data: { turbo_method: :delete, turbo_confirm: "are you sure?" } %>

<h3>add song data</h3>
<%= form_with model: [ @pack, @pack.songs.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :artist %><br>
    <%= form.text_field :artist %>
  </div>

  <div>
    <%= form.label :stepartist %><br>
    <%= form.text_field :stepartist %>
  </div>

  <div>
    <%= form.label :bpm %><br>
    <%= form.number_field :bpm %>
  </div>

  <div>
    <%= form.label :length %><br>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.label :novice %><br>
    <%= form.number_field :novice %>
  </div>

  <div>
    <%= form.label :easy %><br>
    <%= form.number_field :easy %>
  </div>

  <div>
    <%= form.label :medium %><br>
    <%= form.number_field :medium %>
  </div>

  <div>
    <%= form.label :hard %><br>
    <%= form.number_field :hard %>
  </div>

  <div>
    <%= form.label :expert %><br>
    <%= form.number_field :expert %>
  </div>

  <div>
    <%= form.label :edit %><br>
    <%= form.number_field :edit %>
  </div>

  <div><%= from.submit %></div>
<% end %>
